@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-color: #0f1626;
}

.t-clr {
  color: #0f1626;
}

.padMax {
  max-width: 1250px;
  margin: auto;
  padding: 110px 20px 80px 20px;
}

.globalShadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}